@media (max-width: $screen-sm) {
  .welcome-message {
    display: none;
  }
  .navbar-top-links {
    li:last-child { float: right; }
  }

  .page-heading {
    text-align: center !important;
    div.text-right { text-align: center !important; }
  }

  .show-action-label {
    & div:first-child { text-align: left !important; }
  }
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group { z-index: 0; }

.table-hover tbody tr:hover { background-color: $light-navy; }

.btn-w-xl {min-width: 250px;}
.btn-w-l {min-width: 160px;}
.btn-w-s {min-width: 80px;}
.btn-w-xs {min-width: 40px;}

.show-action-label {
  min-height: 40px;

  & div:first-child {
    text-align: right;
    font-weight: bold;
  }
}

.sweet-alert {
  button.confirm {
    background-color: $navy !important;

    &:hover {
      background-color: darken($navy, 3%)  !important;
      border-color: darken($navy, 3%)  !important;
      color: white !important;
    }
  }
}

.logo-name {
  color: #e6e6e6;
  text-shadow: -1px 0 rgba(0,0,0,0.6), 0 1px rgba(0,0,0,0.6), 1px 0 rgba(0,0,0,0.6), 0 -1px rgba(0,0,0,0.6);
  font-size: 65px;
  font-weight: 700;
  letter-spacing: -10px;
  margin-bottom: 0px;
  margin-right: 37px;

  & img {
    position: relative;
    margin-bottom: 10px;
    left: 5px;
  }
}