<% if notice || alert %>
  <div id="mensagens">
    <%= content_tag :div, class: "alert alert-success alert-dismissable" do %>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= notice %>
    <% end if notice  %>

    <%= content_tag :div, class: "alert alert-danger alert-dismissable" do %>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= alert %>
    <% end if alert  %>
  </div>
<% end %>