<li class="<%= is_active_controller('administrators') %>">
  <%= link_to administrators_path do %>
    <i class="fa fa-user"></i>
    <span class="nav-label"><%= t('models_and_attributes.models.administrator.other') %></span>
  <% end %>
</li>