<li class="<%= class_for_item_menu('questionnaires') %>">
  <%= link_to questionnaires_path do %>
    <i class='fa fa-pencil'></i>
    <span class="nav-label"><%= t('models_and_attributes.models.questionnaire.other') %></span>
  <% end %>
</li>
